* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 23, 66);
    font-family: "Alegreya Sans", sans-serif;
}

/* header {
    padding: 50px 15px 0px;
}

header h1 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

main {
     width: 100%;
     max-width: 960px;
     margin: 0 auto;
}

section {
     padding: 15px;
}

.searchbox {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: none;
    background-color: #eee;
    border-radius: 8px;
    color:grey;
    font-size: 15px;
    font-weight: 300;
} */

.main {
    width: 80%;
    margin: auto;
    background-color: rgb(25, 23, 66);
    color: aliceblue;
    
}

.gradient-bar {
    height: 50px;
    background: rgb(25,23,66);
    background-image: linear-gradient(0deg, rgba(25,23,66,1) 10%, rgba(72,61,139,1) 100%);
}

.moviesList {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}

.moviesList .movie {
    width: 33.333%;
    min-width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: pointer;
}

.title {
    padding-top: 10px;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color:darkslateblue;
    color:aliceblue;
    font-family: "Amatic SC","Courier New", monospace;
    align-items: center;
}

.logo{
    position: relative;
    float: left;
    width:  100px;
    height: 100px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}